@import '../variables.pcss';

.Comments {
  & .textarea.\@value {
    border-color: var(--grey);
  }

  & .optionlistContainer .toggleDropdown,
  & .optionlistContainer .optionlist.\@language > li > label {
    background-color: var(--grey);
    border-color: var(--grey);
  }
}
