@import '../variables.pcss';

.DropdownButton {
  display: inline-block;

  & > i {
    position: relative;
    font-size: 1.1rem;

    &:hover,
    &:focus {
      color: var(--orange);
    }
  }

  @media print {
    display: none;
  }
}
