@import '../variables.pcss';

.Export {
  & h2 {
    font-size: var(--font-size-xl);
  }

  & .exportContent {
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  & a {
    margin-top: 5px;
  }
}
