@import '../variables.pcss';

.Feed {
  & .title {
    text-align: center;
    color: var(--blue-dark);
  }

  & a {
    display: block;
    color: var(--blue-dark);

    &:hover {
      color: var(--orange);
    }
  }

  & .more a {
    text-decoration: underline;
  }
}
