@import '../colors.pcss';
@import '../variables.pcss';

.Feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-lightest);
  padding: 20px;
  color: var(--blue-dark);
}
