@import '../variables.pcss';

.MobileNavigation {
  background-color: var(--white);
  height: 30px;
  border-bottom: 1px solid var(--blue-light);
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
  display: none;
  z-index: 2;

  & i.active {
    color: var(--orange);
  }

  @media screen and (--mobile-breakpoint) {
    display: flex;
  }
}
