.oerPolicies {
  & .center {
    width: 100%;
    text-align: center;
  }

  & img {
    border-radius: 10px;
    margin-bottom: 5px;
  }

  & .smallText {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  & iframe {
    border: 0;
    width: 100%;
    margin: 0 auto;
  }
}
