@import '../variables.pcss';

.Pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  & .numbers span {
    margin: 0 5px;
    display: inline-block;

    &.current {
      font-weight: bold;
      color: var(--blue-dark);
    }
  }

  @media print {
    display: block;
    text-align: center;

    & a {
      display: none;
    }
  }
}
