

.Password {
  text-align: center;
  color: var(--blue-dark);

  & div > label {
    display: none;

    &.error {
      display: block;
      color: var(--orange);
    }
  }

  & input[type="password"] {
    border: 1px solid var(--blue-dark);
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
  }

  & #\/password_new_confirm {
    margin-bottom: 0;
  }
}
