.TogglePoints {
  border-radius: var(--border-radius);
  border: 1px solid var(--blue-light);
  background-color: var(--white);
  color: var(--blue);
  font-size: var(--font-size);
  margin-left: 5px;
  padding: 0 15px;

  &.checked {
    background-color: var(--blue-dark);
    border-color: var(--blue-dark);
    color: var(--white);
  }
}
