@import '../variables.pcss';

.TopWrapper {
  display: flex;
  align-items: start;
  color: var(--blue-dark);

  & img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: var(--border-radius);
    margin-right: 10px;
  }

  & > div {
    flex: 1;
    font-size: var(--font-size-xs);
    line-height: 15px;

    & b {
      margin: 10px 0;
      font-size: var(--font-size);
      font-weight: 700;
      line-height: 18px;
      display: block;
    }
  }
}
