{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": ["blockless-after-same-name-blockless"]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["inside-block"]
      }
    ],
    "comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment", "stylelint-commands"]
      }
    ],
    "custom-property-empty-line-before": null,
    "no-descending-specificity" : null,
    "font-family-no-missing-generic-family-keyword": null
  }
}