@import './Colors.pcss';

.ActionButtons {
  position: absolute;
  top: 15px;
  left: 15px;

  & a {
    margin: 5px;
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);

    &:hover,
    &:focus {
      background-color: color(var(--orange) l(+20%));
    }
  }
}
