:root {
  --blue-darkest: #051D2E;
  --blue-dark: #0F578A;
  --blue: #1A91E6;
  --blue-light: #75BDF0;
  --blue-lightest: #D1E9FA;
  --yellow: #FFE600;
  --green: #97C639;
  --orange: #FF8000;
  --white: #fff;
  --black: #000;
}
