:root {
  --blue-darker: #284664;
  --blue-dark: #325578;
  --blue: #3c648c;
  --blue-light: #288cd2;
  --blue-lighter: #87bee6;
  --blue-lightest: #e6f0fa;

  --blue-pale: #aabed2;
  --blue-paler: #dfeaf5;
  --blue-palest: #f5faff;

  --blue-light-gradient-end: #5faada;

  --orange: #ff8c00;
  --yellow: #ffe600;
  --green: #a0c846;

  --red: #e15636;
  --white: #fff;
  --grey: #777;
  --black: #000;
}