:root {
  --blue-darkest: #051d2e;
  --blue-dark: #0f578a;
  --blue: #1a91e6;
  --blue-light: #75bdf0;
  --blue-lightest: #d1e9fa;
  --yellow: #ffe600;
  --green: #97c639;
  --orange: #ff8000;
  --white: #fff;
  --black: #000;
}
