/* @import "main.css";     */

:root { 
  --red: maroon;
  --green: aquamarine;
  --gray: green;

  /* user-select: none;  Example autoprefix  */
}

.ItemList {
  margin: 0;
  padding: 0;
  border-top: 1px solid gray;
  list-style-type: none;

  & a {
    /* color: var(--gray); */

    &:hover {
      color: var(--red); 
    }
  }
  
}