@import './Colors.pcss';

.PagedCollection {
  & h1 {
    color: color(var(--blue) l(15%));
  }

  & .counter {
    border-top: 1px solid var(--blue-darker);
    font-size: 0.8rem;
    padding-top: 10px;
    margin: 10px 0;

    & .badge {
      padding: 3px 7px;
      font-weight: bold;
      background-color: var(--blue-darker);
      display: inline-block;
      color: var(--white);
      border-radius: 10px;
    }
  }
}
