@import './Colors.pcss';

.Register {
  text-align: center;
  color: var(--blue-dark);

  & h2 {
    color: var(--blue-dark);
    font-size: 1.3rem;
  }

  & div.block {
    margin-top: 20px;
    border-top: 1px solid var(--blue-lightest);
  }
}
