:root {
  --border-radius: 2px;

  --font-size: 15px;
  --font-size-small: 12px;
  --font-size-large: 18px;
  --font-size-xl: 22px;

  --line-height: 1.4;
  --line-height-px: calc(var(--line-height) * var(--font-size));
  
  --p-margin: 1em;
  
  --static-font-size: 18px;
  --static-font-size-small: 15px;
  --static-font-size-large: 22px;
  --static-font-size-section-title: 28px;
  --static-font-weight-section-title: 400;
  
}
